/* Generale */

body{
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f3f2f1;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.align-item-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    padding: 0 15px;
}

.section-title h1{
    display: inline-block;
    font-size: 40px;
    color: black;
    font-weight: 700px;
    margin: 0;
    position: relative;
}

.section-title h1:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 80px;
    height: 3px;
    background-color: #ff9800;
}

.btn-01{
    background-color: #ff9800;
    color: white;
    border: 2px solid transparent;
    padding: 10px 35px;
    border-radius: 30px;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.5s ease;
}

.btn-01:hover{
    background-color: transparent;
    border-color: #ff9800;
    color: #ff9800;
}

.btn-01:focus{
    outline: none;
}

/* Generale */

/* Header */

.header{
    position: absolute;
    height: 80px;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease;
}

.header .fixed{
    background-color: white;
    position: fixed;    
}

.header .brand-name{
    padding: 0 15px;
}

.header .brand-name a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.header .fixed .brand-name a{
    color: black;
}

.header .nav-toggle{
    width: 40px;
    height: 34px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
    margin-right: 60px;
}

.header .fixed .nav-toggle{
    border-color: black;
}

.header .nav-toggle span{
    height: 1px;
    display: block;
    width: 16px;
    background-color: white;
    position: relative;
    transition: all 0.5s ease;
}

.header .nav-toggle span::before,
.header .nav-toggle span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    transition: all 0.5s ease;
}

.header .fixed .nav-toggle span,
.header .fixed .nav-toggle span::before,
.header .fixed .nav-toggle span::after{
    background-color: black;
}

.header .nav-toggle span::before{
    transform: translate(-6px);
}

.header .nav-toggle span::after{
    transform: translate(6px);
}

.header .nav-toggle{
    padding: 0 15px;
}

.header .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li{
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 25px 0;
    display: block;
    transition: all 0.5s ease;
}

.header .fixed .nav ul li a{
    color: black;
}

.header .fixed .nav ul li a:hover,
.header .nav ul li a:hover{
    color: #ff9800;
}

/* Header */

/* Home */

.home-section{
    min-height: 100vh;
    width: 100vw;
    background-image: url("IMG/sfondo.avif");
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.home-section::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.home-section .shape-01{
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid #ff9800;
    right: 5%;
    top: 20%;
    animation: rot 5s linear infinite;
}

.home-section .row{
    min-height: 100vh;
}

.home-section .home-content{
    margin-top: 20%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.home-section .home-content h4{
    font-size: 20px;
    color: white;
    margin: 0;
}

.home-section .home-content h2{
    font-size: 60px;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 10px;
}

.home-section .scroll-down{
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    animation: scrollDown 2s ease infinite;
}

@keyframes scrollDown{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}

.home-section .scroll-down img{
    width: 25px;
    display: block;
    margin: 2px auto;
}

/* Home */

/* About */

.about-section{
    padding: 80px 0 0;
}

.about-section .about-img{
    flex: 0 0 calc(33.33% - 30px);
    max-width: calc(33.33% - 30px);
    padding: 0 15px;
}

.about-section .about-img .img-box{
    position: relative;
}

.about-section .about-img .img-box .shape-02{
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid #ff9800;
    left: 30px;
    top: 30px;
    animation: rot 5s linear infinite;
}

.about-section .about-img .img-box img{
    width: 100%;
    display: block;
}

.about-section .about-content{
    flex: 0 0 calc(66.66% - 30px);
    max-width: calc(66.66% - 30px);
    padding: 0 15px;
}

.about-section .section-title{
    margin-bottom: 30px;
    padding: 0;
}

.about-section .about-content p{
    font-size: 16px;
    color: #555;
    line-height: 26px;
    margin: 0;
}

.about-section .about-content .stats .stat-box{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    text-align: center;
    margin-top: 30px;
}

.about-section .about-content .stats .stat-box h2{
    font-size: 40px;
    color: black;
    margin: 0 0 5px;

}

.about-section .about-content .stats .stat-box h5{
    font-size: 16px;
    color: #555;
    font-weight: 600;
    text-transform: uppercase;
}

.about-section .about-content .btn{
    margin-top: 30px;
}

.equipe{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 20px;
}

/* About */

/* Articoli */

.prodotti-section{
    padding: 80px 0;
}

.prodotti-section .service-item{
    flex: 0 0 calc(33.33% - 30px);
    max-width: calc(33.33% - 30px);
    padding: 15px;
}

.prodotti-section .service-item-inner{
    position: relative;
    overflow: hidden;
    height: 300px;
}

.prodotti-section .service-item-inner:hover{
    cursor: pointer;
}

.prodotti-section .service-item-inner img{
    width: 100%;
    display: block;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.prodotti-section .service-item-inner:hover img{
    filter: grayscale(0);
    transform: scale(1.1);
}

.prodotti-section .service-item-inner .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.prodotti-section .service-item-inner:hover .overlay{
    background-color: transparent;
}

.prodotti-section .service-item-inner .overlay h3{
    color: white;
    font-size: 30px;
    margin: 0;
    text-align: center;
    transition: all 0.5s ease;
    text-transform: capitalize;
}

.prodotti-section .service-item-inner .overlay:hover h4{
    transform: translateX(30px);
    opacity: 0;
}

/* Articoli */

/* Lightbox */

.lightbox{
    position: fixed;
    z-index: 1099;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.lightbox.open{
    display: flex;
}

.lightbox .lightbox-img{
    display: flex;
    height: 800px;
    width: 800px;
    max-width: 100%;
    padding: 40px 0;
}

.lightbox .img-box{
    position: relative;
    cursor: pointer;
}

.lightbox .lightbox-close{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    margin: auto;
    top: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.lightbox .lightbox-caption{
    height: 20vh;
    color: white;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: 0;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.lightbox .lightbox-caption .lightbox-category{
    padding-right: 50px;
    filter: drop-shadow(3px 5px 58px #000000);
    width: 20%;
}

.lightbox .lightbox-caption .lightbox-description{
    width: 79%
}

.lightbox .lightbox-caption .lightbox-category,
.lightbox .lightbox-caption .lightbox-description{
    background-color: black;
    border: #ff9800 solid 3px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox .lightbox-controls .prev,
.lightbox .lightbox-controls .next{
    position: absolute;
    height: calc(100% - 80px);
    top: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lightbox .lightbox-controls .prev{
    left: 0;
    width: 50%;
    justify-content: flex-start;
}

.lightbox .lightbox-controls .next{
    right: 0;
    width: 50%;
    justify-content: flex-end;
}

.lightbox .lightbox-controls .prev img,
.lightbox .lightbox-controls .next img{
    border: black solid 5px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: all 0.5s;
    background-color: white;
}

.lightbox.lightbox-controls .prev:hover img,
.lightbox.lightbox-controls .next:hover img{
    background-color: rgba(0,0,0,0.6);
}

/* Lightbox */

/* Contatti */

.contact-section{
    padding: 80px 0 80px;
}

.contact-section .contact-img{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.contact-section .contact-img .img-box{
    padding: 200px 0;
    background-image: url("IMG/contatti.jpeg");
    background-size: cover;
    background-position: center;
}

.contact-section .section-title{
    text-align: center;
}

.contact-section .section-title h1{
    color: white;
}

.contact-section .section-title h1::before{
    background-color: white;
    left: 50%;
    margin-left: -40px;
}

.contact-section .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 65px;
}

.contact-section .contact-form .form{
    background-color: #f3f2f1;
    padding: 55px 40px;
    margin-top: -150px;
}

.contact-section .contact-form .form label{
    color: black;
    font-weight: 500;
    display: block;
    margin: 0 0 5px;
}

.contact-section .contact-form .form .input-group{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.contact-section .contact-form .form .input-group.left,
.contact-section .contact-form .form .input-group.right{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact-section .contact-form .form .input-control{
    width: 100%;
    height: 45px;
    padding: 6px 0;
    color: black;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

.contact-section .contact-form .form .input-control:focus{
    outline: none;
}

.contact-section .contact-form .form .form-button{
    text-align: center;
}

.contact-section .contact-info{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-section .contact-info .info-item{
    flex: 0 0 calc(33.33% - 30px);
    max-width: calc(33.33% - 30px);
    text-align: center;
    padding: 0 15px;
    margin-bottom: 40px;
}

.contact-section .contact-info .info-item h5{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.contact-section .social-links{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
}

.contact-section .social-links a{
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}

.contact-section .social-links a img{
    width: 28px;
    display: inline;
    transition: all 0.5s ease;
}

.contact-section .social-links a:hover img{
    opacity: 0.5;
}

#message{
    width: 100%;
    height: 45px;
    padding: 6px 0;
    color: black;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

/* Contatti */

/* Recensioni */

.recensioni-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* Recensioni */

/* Copyright */

.copyright{
    border-top: 1px solid #c5c5c5;
    padding: 25px 15px;
    text-align: center;
    color: #555;
    font-size: 16px;
}

/* Copyright */

@media(min-width: 768px){
    .header .nav{
        display: block!important;
    }
}
@media(max-width: 767px){
    .section-title h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .section-title .stat-box{
        max-width: 100%;
        width: 300px;
    }
    .section-title .stat-box h2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .section-title .stat-box h5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .section-title .btn-01,
    .form-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .header .brand-name a{
        font-size: 20px;
    }
    .header{
        padding: 7px 0;
        position: fixed;
        background-color: #000000;
        z-index: 2;
    }
    .header .nav-toggle{
        display: flex;
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: white;
        display: none;
    }
    .header.fixed .nav{
        border-top: 1px solid #ccc;
    }
    .header .nav ul li{
        display: block;
        margin-right: 25px;
    }
    .header.fixed .nav ul li a,
    .header .nav ul li a{
        color: black;
        padding: 15px 0;
    }
    .home-section .home-content h2{
        font-size: 40px;
    }
    .home-section .home-content h4{
        z-index: 3;
        font-size: 15px;
        color: white;
        margin: 0;
        visibility: hidden;
    }
    .home-section .home-content h2,
    .home-section .home-content h4{
        width: 370px;
    }
    .about-section .about-img{
        margin-bottom: 30px;
    }
    .about-section .about-content,
    .about-section .about-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section-title p{
        font-size: 14px;
        width: 370px;
    }
    .prodotti-section .service-item{
        flex: 0 0 49%;
        max-width: 49%;
    }
    .home-section .home-content h1{
        font-size: 25px;
        letter-spacing: 5px;
    }
    .about-section .about-content .stats .stat-box{
        flex: 0 0 49%;
        max-width: 49%;
    }
    .contact-section .contact-info .info-item,
    .contact-section .contact-form .form .input-group.left,
    .contact-section .contact-form .form .input-group.right,
    .prodotti-section .service-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-section .contact-form{
        padding: 0px 35px;
    }
    .contact-section .contact-form .form{
        padding: 55px 5px;
    }
    .lightbox .lightbox-img{
        width: 400px;
        height: 400px;
    }
    .row{
        display: block;
    }
}

@media(max-width: 575px){
    .home-section .home-content h1{
        font-size: 25px;
        letter-spacing: 5px;
    }
    .about-section .about-content .stats .stat-box{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-section .contact-info .info-item,
    .contact-section .contact-form .form .input-group.left,
    .contact-section .contact-form .form .input-group.right,
    .prodotti-section .service-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .stat-box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .contact-section .contact-form{
        padding: 0px 35px;
    }
    .contact-section .contact-form .form{
        padding: 55px 5px;
    }
}
